*{
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
}
.button{
    width: 50vh;
    height: 75px;
    border-radius: 5px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.reset {
    font-weight: bold;
    font-size: 25px;
    width: 50vh;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    border-style: solid;
}
button{
    cursor: pointer;
    width: 25px;
    height: 25px;
}
.sendbtn {
    cursor: pointer;
    width: 70px;
    height: 20px;
}